body, html {
  font-family: 'Muli', sans-serif;
  background: #f2f4f7;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
}

#header-container {
  width: 100%;
  height: 50px;
  margin: 20px 0 20px 0;
  border-bottom: 1px solid #d64f4f; 
}

#header {
  display: flex;
  margin: 0 auto;
  width: 720px;
  padding-right: 0;  
  align-items: center;
  justify-content: space-between;
}

#title {
  margin: 4px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.sampler {
  height: 120px;
  margin: 0 20px;
  text-align: center;
}

h6 {
  text-align: right;
  margin-top: 0;
  margin-bottom: 0.6em;
}

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: white;
  background: #6a7c96;
}

.effects-container {
  margin-top: 0.2em;
}

.inactive {
  background: #6a7c96;  
}

.recording {
  background: #d64f4f;
}

.playing {
  background: #46933b;
}

.on {
  background: #d64f4f;
  color: white;
}

.off {
  color: #6a7c96;
}

.w-150 {
  width: 150px;
}

button {
  background: white;
}

button:active {
  background: #d64f4f;
  outline: none;
}
  
@media only screen and (max-width: 775px) {
#header {
  margin: 20px auto;
  width: 72%;  
  align-items: center;
}

#title {
  margin: 4px;
}
  .section {
    display: inline-block;
  }

  .container {
    width: 100vw;
    justify-content: space-around;
  }
}