body, html {
  font-family: 'Muli', sans-serif;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sampler {
  height: 120px;
  margin: 20px;
}

.play-btn {
  height: 100px;
}

.w-150 {
  width: 150px;
}