body, html {
  font-family: 'Muli', sans-serif;
  background: #f2f4f7;
  height: 100%;
  overflow-y: scroll;
}

#title-header {
  margin-left: 20px;
  border-bottom: 1px solid #d64f4f;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.container {
  width: 50%;
  flex-wrap: wrap;
  display: flex;
}

.sampler {
  height: 120px;
  margin: 20px;
  text-align: center;
}

.sampler h6 {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: white;
  background: #6a7c96;
}

.inactive {
  background: #6a7c96;  
}

.recording {
  background: #d64f4f;
}

.playing {
  background: #46933b;
}

.on {
  color: #d64f4f;
}

.off {
  color: #6a7c96;
}

.w-150 {
  width: 150px;
}

.p5Canvas {
  border: 1px solid white;
}

button {
  background: white;
}

button:active {
  background: #d64f4f;
  outline: none;
}
  
@media only screen and (max-width: 775px) {
  .section {
    display: inline-block;
  }

  .container {
    width: 100vw;
    justify-content: space-around;
  }
}